$enable-responsive-font-sizes: true;

.img-fondo{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../image/laptop-g6f5eedbbb_1920.jpg') no-repeat center center fixed;
    /* position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    background-size: cover;
}

.bg-trans{
    background:rgba(0, 0, 0, 0.9);
    transition: all 1s ease;
}

.pt-6{
    padding-top: 7.5rem;
}

@import "../libs/bootstrap/scss/bootstrap";